*{
    box-sizing: border-box;
}
.main{
    display: flex;
    background: red;
    width: 800px;
    height: 800px;
    margin: auto;
    flex-direction: column;
}
.top{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    padding: 10px;
}
.brown{
    display: flex;
    width: 100%;
    height:100% ;
    background: brown;
    margin: auto;
    overflow-x: scroll;
    align-items: center;
}
.yellow{
    flex-shrink: 0;
    background: yellow;
    width:150px ;
    height: 85%;
    margin: 5px;
}
.bottom{
    width: 100%;
    height: 75%;
    display: flex;
    padding: 10px;
    flex-direction: row;
}
.brown2{
    display: flex;
    background: brown;
    flex-direction: column;
    width: 40%;
    height: 100%;
    flex-shrink: 0;
    overflow-y: scroll ;
    align-items: center;
}
.yellow1{
    flex-shrink:0 ;
    background: yellow;
    width:250px ;
    height: 150px;
    margin: 5px;
}
.blue{
    display: flex;
    background: blue;
    width: 60%;
    height: 100%;
    margin-bottom: 10px;
    margin-left: 10px;
}